{# vim: set et ts=8 sts=4 sw=4 ai ft=jinja.html: #}
{% extends "settings.html" %}
{% block content %}
<!--
KL 250514 TODO possibly move to User management?
TODO: Add the group mapping for admin access!
-->
<div class="card m-auto m-lg-20" id="oidc_settings">
<div class="mw-full">
<form action="{{ url_for("admin_oidc_settings") }}" method="POST">
<h2 class="card-title">OIDC Settings</h2>
{##}
  <div class="form-group">
      <div class="custom-checkbox">
        <input {%if config.OIDC_ENABLE_OIDC %}checked{% endif %} type="checkbox" id="oidc_enable_oidc"
          name="oidc_enable_oidc"
          value="True">
        <label for="oidc_enable_oidc">Enable OIDC Login <span class="text-secondary-dm bg-secondary-lm">(Experimental Feature)</span>.</label>
        <div class="mt-5">
            Enable this to allow users to login via the registered OIDC Identity Provider.
        </div>
      </div>
    </div>
{##}
<div class="form-text pt-0 mt-0 mb-20"></div>
{##}
  <h3 class="card-title">IDP Configuration</h3>
  <div class="form-group">
    <label for="oidc_realm" class="required">Realm</label>
    <input name="oidc_realm" type="text" class="form-control" id="oidc_realm" placeholder="OIDC Realm" value="{{ config.OIDC_REALM or '' }}">
    {# <div class="form-text"> ...  </div> #}
  </div>
{##}
  <div class="form-group">
    <label for="oidc_client_id" class="required">Client ID</label>
    <input name="oidc_client_id" type="text" class="form-control" id="oidc_client_id" placeholder="Client ID" value="{{ config.OIDC_CLIENT_ID or '' }}">
    {# <div class="form-text"> ...  </div> #}
  </div>
{##}
  <div class="form-group">
    <label for="oidc_endpoint_discovery_url" class="required">Endpoint Discovery</label>
    <input name="oidc_endpoint_discovery_url" type="text" class="form-control" id="oidc_endpoint_discovery_url" placeholder="Endpoint Discovery URL" value="{{ config.OIDC_ENDPOINT_DISCOVERY_URL or '' }}">
    {# <div class="form-text"> ...  </div> #}
  </div>
{##}
  <div class="form-group">
    <label for="oidc_client_secret" class="required">Client Secret</label>
    <input name="oidc_client_secret" type="text" class="form-control" id="oidc_client_secret" placeholder="Client Secret" autocomplete="off" style="-webkit-text-security:disc;" value="{{ config.OIDC_CLIENT_SECRET or '' }}">
  </div>
</div>
{##}
<div class="form-text pt-0 mt-0 mb-20"></div>
{##}
<div class="mt-10">
  <input class="btn btn-primary" name="update_oidc_settings" type="submit" value="Save OIDC Settings">
</div>
{% endblock %}
